@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.editor-content[role="textbox"] {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 16px;
    font-family: 'DM Sans', sans-serif;
}

.mdxeditor {
    width: 100%;
    max-width: 100%;
}

.editor-content h1 {
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: bold;
}

.editor-content h2 {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bold;
}

.editor-content h3 {
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: bold;
}

.editor-content li {
    margin-left: 16px;
}

.editor-content p {
    margin-bottom: 8px;
}