.editor-content[role="textbox"] {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 16px;
}

.mdxeditor {
    width: 100%;
    max-width: 100%;
}